<meta charset="UTF-8">
<div align='center' width="70%">
<br>
<h1>Seja bem-vindo ao site de divulgação dos projetos de pesquisa de Linguística Aplicada do IFRS</h1>
<br><br>
<h1><small>O objetivo deste site é reunir, organizar e divulgar o material de pesquisa estudado e produzido na área de Linguística do Campus Rio Grande</small></h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>