<h1 align='center'>Novo Projeto</h1>
<br>

<div align='center' style='width:70%;margin-left:auto;margin-right:auto'><!-- Div PDF -->

<div class="panel panel-default">

  <div class="panel-heading"><h1><small>Novo Projeto</small></h1></div>
  <div class="panel-body">
    <br>
	
	<div align='center' style='width:70%;margin-left:auto;margin-right:auto'><!-- PDF2 -->
	
	<!--------------------------------------------------------------------------->
	
	<div class="input-group">
	<span class="input-group-addon">Titulo</span>
	<input type="text" class="form-control" placeholder="Titulo do projeto">
	</div>
	
	<!---------------------------------------------------------------------------><br>
	
	<div class="form-group">
  <label for="comment">Descrição</label>
  <textarea class="form-control" rows="5" placeholder='Descrição do projeto' id="comment"></textarea>
</div>
	
	<!---------------------------------------------------------------------------><br>
	
	<label for="comment">Selecione um pesquisador responsável pelo projeto</label>
	<select class="form-control"  required>
	<% @pesquisadores.each do |p| %>
	
		
		<option value='<%= p.id %>'><%= p.pesquisador_nome %></option>
	
	<% end %>
	</select>
	
	<!---------------------------------------------------------------------------><br>
	
	<label for="comment">Selecione uma tematica para o projeto</label>
	<select class="form-control"  required>
	<% @tematicas.each do |t| %>
	
		
		<option value='<%= t.id %>'><%= t.tematica_titulo %></option>
	
	<% end %>
	</select>
	
	<!---------------------------------------------------------------------------><br>
	
	<label for="comment">Selecione uma foto para o projeto</label>
	
	
	
	
	<div style='float:left;width:250px;height:250px'> 
	<img width='300px' height='200px' src='https://d1luk0418egahw.cloudfront.net/static/images/guide/NoImage_592x444.jpg'>
	</div>
	
	<!---------------------------------------------------------------------------><br>
	
	</div><!-- PDF2 END -->
	
	<br>
  </div>
  <div class="panel-footer"><button>Cadastrar</button></div>
  
</div>

<div> <!-- Div PDF END -->