<h1>Lista de Tematicas</h1>

<div align='center'>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    
	<!-- Table -->
  <table class="table">
  <tr>
	<td><b>Titulo</b></td>
	<td><b>Descrição</b></td>
	<td><b>Opções</b></td>
  </tr>
    <% @tematicas.each do |t| %>
  <tr>
    <td><%= t.tematica_titulo %></td>
    <td><%= t.tematica_descricao %></td>
	<td><%= link_to "Editar" , :action => "edit", :id => t.id %> | <%= link_to "Excluir", t, data: { confirm: "Você realmente quer deletar essa tematica?" }, :method => :delete %></td>
  </tr>
<% end %>
	
  </div>
 </div>

  
</div>
