

<div style="width: 100%; overflow: hidden;">
    <div style="width: 50%; float: left">
	
	 
		<div class="row">
  <div style='margin-left:40%' class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

	</div>
    
	<div style="margin-left: 50%">
	
		<div class="row">
  <div style='margin-left:25%' class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img height='500px' width='500px' src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRImF2U2GcRD0k4JG5lH1oHkpoiUKRTxkdr9Z0zE40LmdR5sKWm">
      <div class="caption">
        <h3 align='center'>Titulo</h3>
        <p>Descrição</p>
      </div>
    </div>
  </div>
</div>
	
	</div>
</div>

<br><br><br>

<!-- ------------------------------------------------------------------------------------------------------------------------------------------ -->

<div style="width: 100%; overflow: hidden;">
    <div style="width: 50%; float: left">
	
	 
		<div class="row">
  <div style='margin-left:40%' class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

	</div>
    
	<div style="margin-left: 50%">
	
		<div class="row">
  <div style='margin-left:25%' class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x300" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
	
	</div>
</div>