<h1 align='center'>Pesquisadores</h1>

<br>

<% @pesquisadores.each do |p| %>
<div class="jumbotron">


<div style='float:left;margin-left:50px;width:200px;height:200px'> 

<%= image_tag p.foto.url(:small) %>

</div>

<div style='margin-left:100px'>

<br>
<p><b>Nome:</b> <%= p.pesquisador_nome %></p>
<p><b>CNPq:</b> <%= p.pesquisador_cnpq %> </p>
<p><b>Contato:</b> <%= p.pesquisador_contato %></p>




<br><br><br>
</div>


</div>
<% end %>
